<div class="filters">
    <mat-form-field>
        <mat-label>Sort</mat-label>
        <mat-select
         panelClass="sort-select"
         [(ngModel)]="sort"
         (selectionChange)="searchMovie(sort)"
        >
        <mat-option value="name">Name</mat-option>
        <mat-option value="-released">Released</mat-option>
        <mat-option value="-added">Added</mat-option>
        <mat-option value="-created">Created</mat-option>
        <mat-option value="-updated">Updated</mat-option>
        <mat-option value="-rating">Rating</mat-option>
        <mat-option value="metacritic">Metacritic</mat-option>
        </mat-select>
    </mat-form-field>

</div>

<div class="games" >
   <ng-container *ngFor="let m of movies">
     <div class="game">
       <div class="game-thumb-container">
          <img 
            *ngIf="m.image"
            src="http://localhost:8000/{{m.image}}" 
            alt="thumbail" 
            class="game-thumbail">
          <p *ngIf="!m.image">no image</p>
       </div>
       <div class="game-description">
          <p class="game-name">{{m.name}}</p>
          
       </div>
       <div class="game-platforms">
          <img  
            *ngIf="m.image"
             src="http://localhost:8000/{{m.image}}" 
             alt="" 
             class="game-platform">
             <p *ngIf="!m.image"><p>no image</p> 
       </div>
     </div>
  </ng-container>
</div>

